.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 600px;
	min-height: 100vh;
	margin: 0 auto;
  }
  
.app_wrapper {
	  min-height: 70vh;
	  display: flex;
	  
  }