@media (max-width: 450px) { :root{
    font-size: 10px;
  }
 }
 


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
a {
	color: #24a0ed;
	text-decoration: none;
}
.title {
 font-size: 2.5rem; 
 color: #36383b;
 text-align: center;
 text-transform: capitalize;
}
.subtitle {
  font-size: 1rem; 
  color: #24a0ed;
  text-transform: lowercase;
  text-align: center;
}
.text { 
  font-size: 1.2rem;
  max-width: 400px;
  padding: 0 1rem;
  text-align: center;
}

.column_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.illustration{
  width: 150px;
}

@media (min-height: 834px) { 
  .illustration{
   width: 300px;
  }
 }
@media (max-height: 450px) { 
  .illustration{
    display: none;
  }
 }

 .logo_small {
   width: 150px;
 }

 .logo_large {
  width: 400px;
  max-width: 80%;
}